body{
    background-color: lightblue;
}
.tabs{
    height: 80px;
    position: relative;
    border: 3px solid navy;
    background-color: navy;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home-button, #benefits-button, #career-button{
    background-color: lightblue;
    border: 3px solid blue;
    height: 60px;
    width: 140px;
    margin-left: 25px;
    margin-right: 25px;
}
#home-button{
    border: 5px solid blue;
}
#title{
    background-color: navy;
    color: white;
    font-size: 50px;
    text-align: center;
}