<!doctype html>
<html>
    <head>
        <title>Benefits Page</title>
        <link rel="stylesheet" href="/static/benefits_style.css">
    </head>
    <body>
        <div class='tabs'>
            <a href='/templates/index.html'><button id='home-button'>Homepage</button></a>
            <a href='/templates/benefits.html'><button id='benefits-button'>Benefits Page</button></a>
            <a href='/templates/career.html'><button id='career-button'>Career Page</button></a>
        </div>
        <iframe src="output2.html" id="outputFrame"></iframe>
    </body>
</html>