<!doctype html>
<html>
    <head>
        <title>Benefits Page</title>
        <link rel="stylesheet" href="/static/benefits_style.css">
        <link rel="icon" href="/static/ExplorCS_Logo.ico">
    </head>
    <body>
        <div class='tabs'>
            <span id="logo-container"><img src="/static/ExplorCS_Logo.png" alt="ExplorCS Logo" height="60px" id="logo"></span>
            <span class='buttons-container'>
                <a href='/page3'><button id='home-button'>Homepage</button></a>
                <a href='/page1'><button id='benefits-button'>Benefits Page</button></a>
                <a href="/page2"><button id='career-button'>Career Page</button></a>
            </span>
        </div>
        <iframe src="/output2/" id="outputFrame" width="1000px" height="1000px"></iframe>
    </body>
</html>