<!doctype html>
<html>
    <head>
        <title>Benefits Page</title>
        <link rel="stylesheet" href="/static/benefits_style.css">
    </head>
    <body>
        <div class='tabs'>
            <a href='/'><button id='home-button'>Homepage</button></a>
            <a href='/page1'><button id='benefits-button'>Benefits Page</button></a>
            <a href='/page2'><button id='career-button'>Career Page</button></a>
        </div>
        <iframe src="/output2/" id="outputFrame"></iframe>
    </body>
</html>