<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Processing</title>
</head>
<body>
    <h2>Enter Your Text</h2>
    <form action="/process/" method="post">
        <input type="text" name="text" required>
        <button type="submit">Submit</button>
    </form>

    {% if output %}
        <div>
            <h3>Processed Output:</h3>
            <p>{{ output }}</p>
        </div>
    {% endif %}
</body>
</html>
-->

<!doctype HTML>
<html>
    <head>
        <title>Career</title>
        <link rel="stylesheet" href="career_style.css">
        <script src="career_script.js"></script>
    </head>
    <body>
        <div class='tabs'>
            <a href='index.html'><button id='home-button'>Homepage</button></a>
            <a href='benefits.html'><button id='benefits-button'>Benefits Page</button></a>
            <a href='career.html'><button id='career-button'>Career Page</button></a>
        </div>
        <br>
        <span id='subhead1'>
            <h2 class='subhead'>Your Potential Computer Science Career</h2>
        </span>
        <div id='career-choice'>
            <!--<h3 id='career-choice-header'>What Are Your Current Interests?</h3>-->
            <div id='interest-form'>
                <!--<span id='inthead'>What are your current interests?</span>-->
                <form action="/process/" method="post"><!-- Set action path correctly each time-->
                    <label>What Are Your Current Interests?</label><br>
                    <input id='career-choicef' type='text' name='text' required>
                    <button id='submit-choice' type="submit">Submit</button>
                </form>
                {% if output %}
                <!--<iframe src="output.html" id="outputFrame"></iframe>-->
                    <div id='career-out'>
                        <p>{{output}}</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </body>
</html>
